*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.wrapper button{
    padding:15px;
    border:2px solid #000;
    color:#000;
    font-weight: bold;
}